body{
    font-family: "Bahnschrift";
    background-color: light gray;
}

@media screen and (min-width: 600px) and (min-height: 400px) {
    body{
        font-size: 20px;
    }
}

.name{
    text-align: center;
}

.firstmiddlelast{
    text-align: center;
}

.Position{
    text-align: center;
}

.Throws{
    text-align: center;
}

.YearsPro{
    text-align: center;
}

.heightweight{
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }